<p style="color: green"><%= notice %></p>

<%= render @setor %>

<div>
  <%= link_to "Editar setor", edit_setor_path(@setor) %> |
  <%= link_to "Voltar", setors_path %>

  <%= button_to "Apagar esse setor", @setor, method: :delete %>
</div>
