<p style="color: green"><%= notice %></p>

<h1>Colaboradores</h1>

<div id="profissionals">
  <% @profissionals.each do |profissional| %>
    <%= render profissional %>
    <p>
      <%= link_to "Ver colaborador", profissional %>
    </p>
  <% end %>
</div>

<%= link_to "Novo Colaborador", new_profissional_path %>
<%= link_to "Voltar", visitantes_path %></br>
