<div id="<%= dom_id visitante %>">
  <p>
    <strong>Nome:</strong>
    <%= visitante.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= visitante.cpf %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= visitante.rg %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= visitante.tel %>
  </p>

  <p>
    <strong>Data hora:</strong>
    <%= visitante.data_hora %>
  </p>

  <p>
    <strong>Concluida:</strong>
    <%= visitante.concluida %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= visitante.foto %>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= visitante.setor_id %>
  </p>

</div>
